/*----------Background-Colors------*/
.bgBlue{
    background-color: $blue;
}

.bgBlack{
    background-color: $black;
}
.bgLightGrey{
    background-color: $lightGrey;
}

.bgOrange{
    background-color: $orange;
}

.bgWhite{
    background-color: $white;
}
