nav {
    background-color: #EFEFEF99;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 2;

    .navbar__logo {
        img {
            max-height: 100px;
        }
    }

    ul {
        list-style: none;
        display: flex;

        li {
            a {
                text-decoration: none;
                color: $blue;
                font-weight: bold;
                margin-right: 30px;
            }
        }
    }
}